
    body {
      font-family: 'Roboto', sans-serif; /* Aplicar la fuente Roboto */
    }

    /* Estilos para el logo */
    #logo {
      position: fixed;
      top: 20px; /* Ajusta la posición según sea necesario */
      left: 50%;
      transform: translateX(-50%);
      z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
    }

    /* Estilos para el mensaje de acceso */
    #access-message {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      padding: 20px;
      border: 1px solid black;
      display: none; /* Comienza oculto */
      z-index: 20; /* Asegúrate de que esté por encima del logo */
    }
  